<footer class="site-footer">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-4 col-md-6 col-12">
          <h3 class="footer-title">Hara consulting</h3>
          <p class="footer-text">Le Groupe HARA, fondé en 2021, combine ingénierie informatique et solidarité locale pour accompagner divers clients et promouvoir l'Economie Sociale et Solidaire.</p>
        </div>
  
        
        <!-- Social Media Links Section -->
        <div class="col-lg-4 col-md-10col-12"  style="right: -300px;">
          <h3 class="footer-title">The fatalists</h3>
         
        </div>
      </div>
  
      <!-- Footer Bottom Section -->
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p class="copyright-text">Copyright &copy; 2024 Nuit d'Info. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </footer>
  