<!-- flip-card-container -->
<app-nav-bar></app-nav-bar>


<div class="flip-cards-wrapper">
 

</div>

<div class="flip-cards-wrapper">
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Éradication de la pauvreté</figcaption>
        </figure>

        <ul>
         

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/bg2.JPG">
        </figure>

        <button>  Mettre fin à toutes les formes de pauvreté dans le monde.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Image 2">
          <figcaption>Faim zéro</figcaption>
        </figure>

        <ul>
        

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
        </figure>

        <button>Mettre fin à la faim, améliorer la nutrition et promouvoir l'agriculture durable.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Bonne santé et bien-être </figcaption>
        </figure>

        <ul>
       

        </ul>
      </div>

      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
        </figure>

        <button>Garantir une vie en bonne santé et promouvoir le bien-être pour tous à tout âge.</button>

        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

 
</div>
<div class="flip-cards-wrapper">
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Éducation de qualité </figcaption>
        </figure>

        <ul>
          

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/bg2.JPG">
        </figure>

        <button> Assurer l'accès de tous à une éducation de qualité, sur un pied d'égalité, et promouvoir des possibilités d'apprentissage tout au long de la vie.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Image 2">
          <figcaption>Égalité entre les sexes</figcaption>
        </figure>

        <ul>
          

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
        </figure>

        <button> Parvenir à l'égalité des sexes et autonomiser toutes les femmes et les filles.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Eau propre et assainissement</figcaption>
        </figure>

        <ul>
        

        </ul>
      </div>

      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
        </figure>

        <button>Garantir l'accès de tous à l'eau et à l'assainissement et gérer durablement les ressources en eau.</button>

        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  
</div>

<div class="flip-cards-wrapper">
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Énergie propre et d'un coût abordable</figcaption>
        </figure>

        <ul>
         

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/bg2.JPG">
        </figure>

        <button> Garantir l'accès de tous à des services énergétiques fiables, durables et modernes, à un coût abordable.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Image 2">
          <figcaption>Travail décent et croissance économique</figcaption>
        </figure>

        <ul>
          

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
        </figure>

        <button>Promouvoir une croissance économique soutenue, inclusive et durable, le plein emploi productif et un travail décent pour tous.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Industrie, innovation et infrastructure </figcaption>
        </figure>

        <ul>
        

        </ul>
      </div>

      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
        </figure>

        <button> Bâtir une infrastructure résiliente, promouvoir une industrialisation inclusive et durable et encourager l'innovation.</button>

        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

 
</div>
<div class="flip-cards-wrapper">
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Inégalités réduites </figcaption>
        </figure>

        <ul>
        

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/bg2.JPG">
        </figure>

        <button>Réduire les inégalités à l’intérieur des pays et entre les pays.

        </button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Image 2">
          <figcaption>Villes et communautés durables</figcaption>
        </figure>

        <ul>
        

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
        </figure>

        <button>Rendre les villes et les établissements humains inclusifs, sûrs, résilients et durables.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Consommation et production responsables</figcaption>
        </figure>

        <ul>
         

        </ul>
      </div>

      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
        </figure>

        <button>Garantir des modes de consommation et de production durables.</button>

        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

 
</div>
<div class="flip-cards-wrapper">
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Lutte contre les changements climatiques</figcaption>
        </figure>

        <ul>
         

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/bg2.JPG">
        </figure>

        <button> Prendre des mesures urgentes pour lutter contre les changements climatiques et leurs impacts.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Image 2">
          <figcaption>Vie aquatique</figcaption>
        </figure>

        <ul>
         

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
        </figure>

        <button>Conserver et exploiter de manière durable les océans, les mers et les ressources marines pour le développement durable.</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Vie terrestre</figcaption>
        </figure>

        <ul>
         

        </ul>
      </div>

      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
        </figure>

        <button> Gérer durablement les forêts, lutter contre la désertification, stopper et inverser la dégradation des terres et freiner la perte de biodiversité.</button>

        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

 
</div>





<!-- flip-card-container -->
<div class="flip-cards-wrapper">
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
          <figcaption>Paix, justice et institutions efficaces</figcaption>
        </figure>

        <ul>
     

        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Brohm Lake">
        </figure>

        <button>Promouvoir l’instauration de sociétés pacifiques et inclusives pour le développement durable, fournir l’accès à la justice pour tous et bâtir des institutions efficaces, responsables et inclusives à tous les niveaux.
        </button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->

  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="Image 2">
          <figcaption>Partenariats pour la réalisation des objectifs</figcaption>
        </figure>

        <ul>
        
        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img
            src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="image-2">
        </figure>

        <button> Renforcer les moyens de mettre en œuvre et revitaliser le partenariat mondial pour le développement durable.
        </button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
          <span class="design design--9"></span>
          <span class="design design--10"></span>
          <span class="design design--11"></span>
          <span class="design design--12"></span>
          <span class="design design--13"></span>
          <span class="design design--14"></span>
          <span class="design design--15"></span>
          <span class="design design--16"></span>
          <span class="design design--17"></span>
        </div>
      </div>

    </div>
  </div>

 
</div>
<app-footer></app-footer>