<app-nav-bar></app-nav-bar>
<nav class="navbar navbar-expand-lg">
     <div class="container">



          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a href="contact.html" class="nav-link contact">Contact</a>
                    </li> -->
               </ul>
          </div>
     </div>
</nav>


<!-- HERO -->
<section class="hero hero-bg d-flex justify-content-center align-items-center">
     <div class="container">
          <div class="row">
               <!-- First Section -->
               <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">
                         <h1 class="text-white hero-title" data-aos="fade-up" style="font-size: 25px;">
                              L'ODD 14, intitulé "Vie aquatique," a pour objectif de préserver les océans, les mers et les
                              ressources marines en les utilisant de manière durable. Il vise à réduire la pollution marine,
                              protéger les écosystèmes marins et réguler la pêche pour maintenir la biodiversité.
                         </h1>
                         
                    </div>
               </div>
     
               <!-- Second Section -->
               <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text1">
                         <a [routerLink]="'/flashcard'" class="nav-link smoothScroll custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">
                              Découvrir les autres ODDs!
                         </a>
                         <a [routerLink]="'/quiz'" class="nav-link smoothScroll custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">
                              Plongez et testez vos connaissances!
                         </a>
                    </div>
               </div>
     
               <!-- Image Section -->
               <div class="col-lg-6 col-12">
                    <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                         <img src="/assets/images/poumon.png" class="img-fluid" alt="working girl">
                    </div>
               </div>
          </div>
     </div>
     
</section>


<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
     <div class="container">
          <div class="row">

               <div class="col-lg-7 mx-auto col-md-10 col-12">
                    <div class="about-info">

                         <h1 class="mb-4" data-aos="fade-up">Océan : <br><strong>L'Aventure Commence </strong>
                         </h1>

                         <p class="mb-0" data-aos="fade-up">Les océans régulent le climat, produisent de l'oxygène et abritent une biodiversité essentielle. Ils sont vitaux pour notre planète et nos ressources.</p>
                    </div>

                    <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                    </div>
               </div>

          </div>
     </div>
</section>



<!-- PROJECT -->

<app-footer></app-footer>